.cards {
    &__heading {
        text-align: center;
    }

    &__card {
        box-shadow: shadow(card);
        border-radius: 20px;
        border: 1px solid color(light-gray);
        text-align: center;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        padding: 0;

        &--0 {
            color: color(crayon-red);
        }

        &--1 {
            color: color(crayon-black);
        }

        &--2 {
            color: color(crayon-blue);
        }

        &--3 {
            color: color(crayon-brown);
        }

        &--4 {
            color: color(crayon-purple);
        }

        &--5 {
            color: color(magenta);
        }

        &--6 {
            color: color(orange);
        }

        &--7 {
            color: color(crayon-red-violet);
        }

        &--8 {
            color: color(crayon-red-orange);
        }

        &--9 {
            color: color(dark-gray);
        }

        &--10 {
            color: color(crayon-blue-violet);
        }

        &--11 {
            color: color(crayon-plum);
        }

        &--12 {
            color: color(crayon-rain-forest);
        }

        &--13 {
            color: color(crayon-blue-green);
        }
    }

    &__number {
        font-size: rem(220);
        line-height: 300px;

        &--3-digits {
            font-size: rem(170);
        }
    }

    &__number-word {
        font-size: rem(35);
        font-weight: bold;
        line-height: 35px;
    }

    &__upper-case-letter {
        font-size: rem(200);
        padding-top: 30px;
    }

    &__lower-case-letter {
        font-size: rem(150);
        line-height: 110px;
    }

    &__btn-container {
        width: 300px;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        border: none;
        background-color: color(button);
        color: color(white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        cursor: pointer;
        font-size: rem(40);
        width: 70px;

        &--volume {
            font-size: rem(30);
        }
    }
}